/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 3rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.installation {
  padding: 8px 12px;
  font-family: monospace;
  border: 1px solid #a2c9f8;
  width: fit-content;
  border-radius: 4px;
  margin: 40px auto 50px auto;
  font-size: 18px;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copy {
  cursor: pointer;
  user-select: none;
}

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.featureList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
  margin-bottom: 60px;
  margin-left: 20px;
  margin-right: 20px;
}

.featureCard {
  background: white;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.05);
  width: 280px;
  border: 1px solid #f1f1f1;
  color: #000;
}

@media screen and (max-width: 768px) {
  .featureCard {
    width: 100%;
  }
}

.communityLinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  color: white;
  padding-top: 30px;
}

.communityLinks a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  text-decoration: none;
  font-size: 16px;
}